<div class="container">
    <div class="row">

        <div class="col s1">
            <button mat-icon-button
            (click)="close.emit()">
                <i class="fas fa-times fa-lg"></i>
            </button>
        </div>

        <div class="col s9">
            <h5><b>{{conversacion.userId}}</b></h5>
        </div>
    </div>


    <div class="row" *ngIf="interacciones" >
        <div class="col s12">
            <mat-card *ngFor="let inter of interacciones">
                <mat-card-content>
                    <div class="row">
                        <div class="col s12 m6">
                            <p>
                                <span style="font-size: x-small;">Clinete</span><br>
                                {{inter.usuario}}
                            </p>
                            <p style="font-size: x-small;">
                                {{inter.time}}
                            </p>

                            <button mat-raised-button color="primary"
                            [disabled]="inter.checked"
                            (click)="saveAsTrainingPhrase(inter.id, inter.intent.intentId, inter.usuario)"
                            >Guardar</button>

                            <ng-container *ngIf="inter.checked; else unChecked">
                                <button mat-mini-fab>
                                    <i class="fas fa-check" aria-hidden="true"></i>
                                </button>
                            </ng-container>
                            <ng-template #unChecked>
                                <button mat-button
                                (click)="setChecked(conversacion.userId, inter.id)"
                                >Marcar como visto</button>
                            </ng-template>

                        </div>
                        <div class="col s12 m6">
                            <p>
                                <span style="font-size: x-small;">Agente</span><br>
                                {{inter.agente}}
                            </p>
                            <p>
                                <span style="font-size: x-small;">Intent Reconocido</span><br>
                                {{inter.intent.intentName}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8">
                        </div>
                        <div class="col s4">
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
