<div class="container">
    <div class="row aling-cols">
        <div class="col s10">
            <h5>Respuestas</h5>
        </div>
        <div class="col s2">
            <button mat-icon-button (click)="addRespuesta()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    
    <div class="row respuestasList" *ngIf="mensaje_.respuestasList; else sinRespuestas">
        <div class="respuestaItem"
        *ngFor="let respuesta of mensaje_.respuestasList; trackBy: trackResponseById">
            <aSmart-respuesta-card
            [respuesta]="respuesta"
            ></aSmart-respuesta-card>
        </div>
    </div>

    <ng-template #sinRespuestas>
        <div class="row">
            <div class="col s12 center">
                Aún no has agregado respuestas
            </div>
        </div>
    </ng-template>
</div>