<div id="tipos-container" class="container">
    <div class="row">
        <div class="col s12">
            Agregar tipo de dato 
            <button mat-icon-button
            (click)="openAdd()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col s12">

            <mat-accordion>
                
                <!-- Lista de tipos -->
                <aSmart-tipo 
                *ngFor="let tipo of agente.tiposList" 
                [tipo]="tipo"
                [id]="tipo.name"
                ></aSmart-tipo>

                
                
            </mat-accordion>
        </div>
    </div>
</div>
