<form
  action="#"
  method="post"
>
  <div class="row">
    <div class="col s12 m6">
      <!-- <mat-form-field>
        <mat-label>Id de proyecto</mat-label>
        <input
          matInput
          name="clientToken"
          id="clientToken"
          [(ngModel)]="agente.clientToken"
        />
      </mat-form-field> -->
    </div>

    <div class="col s12 m6">
      <mat-form-field>
        <mat-label>Id de proyecto</mat-label>
        <input
          matInput
          name="projectId"
          id="projectId"
          [(ngModel)]="agente.projectId"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <button
        mat-raised-button
        color="accent"
      >Agregar</button>
    </div>
  </div>
</form>
