<mat-toolbar gdev-color [background]="'dark'" id="navbar" class="mat-elevation-z5">
    <span class="hide-on-large-only mobile-menu" (click)="dashboard.toggleMobileMenu.emit()"> <i class="fas fa-bars    "></i> </span>
    <span class="logo-area">
        <div class="app-logo">
            <img src="/assets/icons/as-iso@0.5x.png" alt="Logo Agente Smart">
        </div>
        <p class="logo-text">Agente Smart</p>
    </span>
    <span class="espacio"></span>
    <div class="col right user-profile" *ngIf="user; else unlogged">
        
        <button mat-button
        [matMenuTriggerFor]="menuProfile"
        ><i class="fas fa-chevron-circle-down"></i></button>
        <mat-menu #menuProfile="matMenu">
            <button mat-menu-item>Ver perfil</button>
            <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
            <button mat-menu-item (click)="auth.singOut()">Cerrar sesión</button>
        </mat-menu>
        
        <div class="imgProfileContainer">
            <img src="{{user.photoURL}}" alt="">
        </div>

        <p class="userName" gdev-color [color]="'bg3'"> {{user.displayName}} </p>
    </div>
    <ng-template #unlogged>
        <aSmart-login-button (isLogged)="user = $event"></aSmart-login-button>
    </ng-template>
</mat-toolbar>