<div class="row">
    <div class="col s2">
        <button mat-icon-button
        (click)="dialog.close()">
            <i class="fas fa-times fa-lg"></i>
        </button>
    </div>
    <div class="col s10 m5">
        <mat-form-field  style="width: 100%;">
            <mat-label>Nombre</mat-label>
            <input matInput
            #coleccionName
            [(ngModel)]="coleccion.name"
            type="text" name="colName" id="colName">
        </mat-form-field>
    </div>
    <div class="col s12 m5">
        <mat-form-field  style="width: 100%;">
            <mat-label>Tipo</mat-label>
            <mat-select 
            placeholder="Tipo de coleccion" 
            [(ngModel)]="coleccion.tipo" name="tipo">
                <mat-option value="guardado">Guardado</mat-option>
                <mat-option value="busqueda">Búsqueda</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<mat-dialog-actions style="display: flex; justify-content: space-around;">
    <p>Una vez que asignes el nombre de la colección no podrás cambiarlo. <br>
        Asegúrate de escribirlo bien antes de agregar
    </p>
    <button mat-raised-button color="primary" (click)="addColeccionDato()">Agregar</button>
</mat-dialog-actions>