<div class="row align-cols">
    <div class="col s10">
        <h5>Frases de entrenamiento</h5>
    </div>
    <div class="col s2">
        <button mat-button (click)="toAddPhrase()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="phrases-list">


            <!-- READ Muestra las frases -->
            <li *ngFor="let frase of frases; trackBy:trackByFraseName" 
            class="phrase-item"
            (mouseup)="onSelect(frase)"
            >
                <aSmart-frase-item 
                [frase]="frase" 
                [phraseName]="frase.name" 
                (onDeleted)="getFrasesEntrenamiento()"
                >
                </aSmart-frase-item>
                
                <div class="parameter-list" gdev-color [background]="'lightgrey'">
                    <div class="row params-header">
                        <div class="col s4">Parámetro</div>
                        <div class="col s4">Tipo dato</div>
                        <div class="col s4">Valor</div>
                    </div>
                    <aSmart-frase-parameters
                    *ngFor="let parte of frase.parts; index as i" 
                    [parte]="parte" 
                    [parteIndex]="frase.name + i" 
                    >
                    </aSmart-frase-parameters>
                </div>
            </li>

            <!-- CREATE Agregar nueva frase -->
            <li *ngIf="addPhraseInput">
                <mat-form-field>
                    <input 
                    matInput
                    #newPhraseInput
                    type="text" 
                    name="newPhraseInput" 
                    id="newPhraseInput"
                    (blur)="addPhraseInput = false"
                    [(ngModel)]="newPhrase"
                    (keyup.enter)="newPhrase != '' ? onSetPhrase() : addPhraseInput = false"
                    >
                </mat-form-field>
            </li>
        </ul>

    </div>
</div>
