<mat-expansion-panel >
    <mat-expansion-panel-header (click)="toAddTipo()">
        <ng-container *ngIf="!switchAddInput; else addTipoInput">
            Nuevo Tipo
        </ng-container>

        <!-- CREATE tipo name -->
        <ng-template #addTipoInput>
            <mat-form-field>
                <input 
                matInput
                type="text" 
                #addInput
                name="addInput" 
                id="addInput"
                [(ngModel)]="newTipo.displayName"
                (keydown)="delSpaces($event)"
                (keyup.enter)="tiposService.setTipo(newTipo)"
                (keyup.enter)="$event.target.blur()"
                (blur)="tiposService.setTipo(newTipo)"
                >
            </mat-form-field>                            
        </ng-template>
    </mat-expansion-panel-header>


    <!-- CREATE Tipo body -->
    <ng-template matExpansionPanelContent>

        <div class="row">
            <div class="col s12">
                <mat-checkbox (selectedValueChange)="onKindChange($event)" >
                    Activar sinónimos
                </mat-checkbox>
                <mat-checkbox (selectedValueChange)="onExpanptionChange($event)" >
                    Auto expansión
                </mat-checkbox>
                <mat-checkbox (selectedValueChange)="onFuzzyChange($event)" >
                    Activar coincidencia parcial
                </mat-checkbox>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12">
                Clases del tipo de dato
                <ul class="clase-list">

                    <!-- READ CLASES DE TIPO -->
                    <li class="clase-item" *ngFor="let clase of clases">
                        <div class="row">
                            <aSmart-clase-item [clase]="clase" ></aSmart-clase-item>
                        </div>
                    </li>

                    <!-- CREATE CLASE DE TIPO -->
                    <li class="clase-item">
                        <div class="row">
                            <ng-container *ngIf="!switchAddClase; else addClase">
                                <button 
                                mat-button 
                                (click)="switchAddClase = true"
                                [disabled]="!newTipo.displayName"
                                >
                                    Agregar nueva clase
                                </button>
                            </ng-container>
                            <ng-template #addClase>
                                <aSmart-add-clase 
                                [kind]="newTipo.kind" 
                                [tipoName]="newTipo.name"
                                (claseAdded)="onClaseAdded($event)"
                                >
                                </aSmart-add-clase>    
                            </ng-template>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center" >
                <button mat-button (click)="toSave()">Guardar</button>
            </div>
        </div>

    </ng-template>



</mat-expansion-panel>