<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h6 class="center"><b>Entradas list</b></h6>
        </div>
    </div>
    <!-- Lista de mensajes -->
    <div class="mensajes-list" *ngIf="agente.mensajesList"  >
        <mat-card *ngFor="let mensaje of agente.mensajesList; trackBy:trackByName" 
        [routerLink]="['../mensaje',mensaje.name]"
        > 
            <mat-card-content class="mensaje-card">
                <p class="mensaje-name"> <b>{{mensaje.displayName}}</b> </p>
            </mat-card-content>
        </mat-card>
    </div>


<!-- Agregado de mensaje nuevo -->
    <div class="row">
        <div class="add-intent" [ngClass]="{'activate': switchAddIntent}" *ngIf="!switchAddIntent; else addIntent" (click)="toAddIntent()">
            <i class="fas fa-plus"></i>
        </div>
        <ng-template #addIntent>
            <mat-card>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput 
                        type="text" 
                        name="intentName" 
                        id="intentName"
                        #intentNuevo
                        (keyup.enter)="onAddIntent()"
                        (keyup.Esc)="$event.target.blur()"
                        [(ngModel)]="newDisplayName"
                        >
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <!-- <div class="intent"></div> -->
        </ng-template>
    </div>

</div>