<div class="mensajes-content">
   
    <!-- * Lista de mensajes -->
    <div class="mensajes-list">
        <mat-card *ngFor="let mensaje of mensajes; trackBy:trackByName" 
        [routerLink]="['../mensaje', getMensajeRoute(mensaje.name)]"
        > 
            <mat-card-content diagramElement 
            (getDiagramData)="setDiagramaData($event, mensaje.name)" 
            class="mensaje-card">
                <p class="mensaje-name"> <b>{{mensaje.displayName}}</b> </p>
            </mat-card-content>
        </mat-card>
    </div>
    
    
    <!-- * Agregado de mensaje nueva -->
    <div class="row addIntent-area">
        <div class="add-intent" [ngClass]="{'activate': switchAddIntent}" *ngIf="!switchAddIntent; else addIntent" (click)="toAddIntent()">
            <i class="fas fa-plus"></i>
        </div>
        <ng-template #addIntent>
            <mat-card>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput 
                        type="text" 
                        name="intentName" 
                        id="intentName"
                        #intentNuevo
                        (keyup.enter)="onAddIntent()"
                        (keyup.Esc)="$event.target.blur()"
                        [(ngModel)]="newIntent"
                        >
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </div>
    
    
    
                
            
</div>