<ng-container *ngIf="!switchEditContext; else editContext">
    <p  class="contexto-name" *ngIf="contexto">{{contexto.contextName}}</p>
</ng-container>
<ng-template #editContext>
    <div class="contextField">
        <mat-form-field appearence="outline">
            <input 
            lowecase
            matInput
            #contextEditing
            type="text" 
            name="contextEditing" 
            id="contextEditing"
            (keydown)="delSpaces($event)"
            (keyup.enter)="onEditContext()"
            (blur)="editedContext == contexto.contextName ? switchEditContext = false : onEditContext()"
            [(ngModel)]="editedContext"
            >
        </mat-form-field>
    </div>
</ng-template>