::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0em !important;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

::ng-deep.mat-form-field-infix {
    border-top: none !important
}