<div class="row">
    <mat-form-field>
        <mat-select 
        (selectionChange)="catchContextSelected($event)"
        [(value)]="contexto"
        name="contexto">
            <mat-option value="*fin">
                <span class="grey-text">Termina conversación</span>
            </mat-option>
            <mat-option *ngFor="let contexto of contextNameList" 
            [value]="contexto">
                <span [ngClass]="{'blue-text': contexto == 'contextos'}">
                    {{contexto}}
                </span>
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="row">
    <button mat-button
    (click)="openContextCreator()">
        Crear contexto
    </button>
</div>