<div class="row">
    <waiting-bar></waiting-bar>

    <!-- * DISEÑO DESKTOP -->
    <ng-container *ngIf="!responsive.small; else mobileDesing">
        <div strechHeight class="col s12 m6" id="intent-form">

            <!-- ENTRENAMIENTO -->
            <div strechHeight id="mensaje-container">
                <div class="row mensaje-content">

                    <div id="mensaje-header">
                        <div class="row align-cols" *ngIf="(mensaje_.current$ | async) as intent">
                            <div class="col s10">
                                <p class="intent-title"> Primera interacción </p>
                            </div>
                            <div class="col s2">
                                <button style="float: right;" mat-raised-button color="primary"
                                (keydown.enter)="$event.preventDefault()"
                                (keydown.enter)="$event.stopImmediatePropagation()"
                                (click)="mensaje_.update()"
                                [disabled]="!unsaved"
                                >Guardar</button>
                            </div>
                        </div>
                    </div>



                    <aSmart-frases-form></aSmart-frases-form>
                    <aSmart-parametros></aSmart-parametros>
                </div>
            </div>

        </div>
        <div strechHeight class="col s12 m6" id="resp-manager" #respuestas>
            <aSmart-respuestas
            (lastPositionChange)="onLastChange($event)"
            ></aSmart-respuestas>
        </div>
    </ng-container>

    <!-- * DISEÑO MOBILE -->
    <ng-template #mobileDesing>
        <mat-accordion>
            <mat-expansion-panel class="intent-panel" [expanded]="true">
                <mat-expansion-panel-header>
                    Mensaje
                </mat-expansion-panel-header>

                <!-- ENTRENAMIENTO -->
                <div strechHeight id="mensaje-container">
                    <div class="row mensaje-content">
                        <aSmart-frases-form></aSmart-frases-form>
                        <aSmart-parametros></aSmart-parametros>
                    </div>
                </div>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Respuestas
                </mat-expansion-panel-header>
                <aSmart-respuestas></aSmart-respuestas>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-template>

</div>
