<!-- AGREGAR CLASES SIN SINÓNIMO -->

<ng-container *ngIf="tipo.kind != 'KIND_MAP'; else sinonimos">
    <div class="col s10 m11">
        <mat-form-field>
            <input
                placeholder="nueva clase"
                type="text"
                name="addClaseItem"
                id="addClaseItem"
                matInput
                [(ngModel)]="newClaseItem"
                (keyup)="delSpaces($event)"
                (blur)="newClaseItem ? onAddClase($event) : claseDone.emit(false)"
                (keyup.ENTER)="onAddClase($event); $event.target.blur()"
                (keyup.esc)="claseDone.emit(false)"
            />
        </mat-form-field>
    </div>
</ng-container>




<!-- AGREGAR CLASE CON SINÓNIMOS -->

<ng-template #sinonimos>
    <div class="col s3">
        <mat-form-field style="width: 100%;">
            <input
            placeholder="nueva clase"
            type="text"
            name="addClaseItem"
            id="addClaseItem"
            matInput
            [(ngModel)]="newClaseItem"
            (keydown.Tab)="onAddClase($event);false"
            />
        </mat-form-field>
    </div>



    <!-- * AGREGAR SINÓNIMOS -->

    <div class="col s7 m8">
        <mat-form-field style="width: 100%;">
            <mat-chip-list
            class="mat-chip-list-stacked"
            #newSinonimosList
            aria-label="Sinónimos"
            [aria-orientation]="'horizontal'"
            >
                <mat-chip
                *ngFor="let sinonimo of newClaseSinonimos"
                [selectable]="true"
                [removable]="true"
                (removed)="delSinonimo(sinonimo)"
                >
                    {{ sinonimo }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                    placeholder="nuevo sinónimo: presiona coma (,) para agregar"
                    style="max-height: 1em;"
                    #sinonimosInput
                    [matChipInputFor]="newSinonimosList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addSinonimo($event)"
                />
            </mat-chip-list>
        </mat-form-field>
    </div>
    <div class="col s2 m1">
        <button mat-button  (click)="setClase()">
            <i class="fas fa-check"></i>
        </button>
    </div>
</ng-template>



