mat-drawer {
    min-width: 100%;
}

::ng-deep {
    .drawer-list{
        mat-list-option {
            border-bottom: .5px solid #a0a0a0;
        }
    }
    .drawer-list mat-list-option:first-child {
        border-top: .5px solid #a0a0a0;
    }
}