<mat-drawer-container 
responsive [strechHeight]
class="dash-container" 
hasBackdrop="false">
  <mat-drawer
    #sideNav
    class="side-nav"
    mode="side"
    responsive
    [opened]="!responsive.small"
    position="start"
    gdev-color
    [background]="'dark'"
    
  >
    <aSmart-sidenav></aSmart-sidenav>
    <mat-toolbar 
    gdev-color
    class="test-chat-btn"
    [background]="'dark'"
    >
      <button mat-raised-button color="accent" (click)="testChat.toggle()">
        Probar chat
      </button>
    </mat-toolbar>
  </mat-drawer>

  <mat-drawer #testChat class="test-chat" mode="over" position="end">
    Test-chat
  </mat-drawer>

  <mat-drawer-content gdev-color [background]="'bg1'">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<nav
  *ngIf="responsive.small"
  class="nav-footer"
  id="footer"
  gdev-color [background]="'acent'"
  mat-tab-nav-bar
>
  <button mat-button (click)="sideNav.toggle()">Menú</button>
  <a mat-tab-link
        *ngFor="let item of mobileNavbar"
        [routerLink]="[item.path]"
        routerLinkActive="active" 
        #rla="routerLinkActive"
        [active]="rla.isActive">
        
        <span> {{item.label}} </span>
    </a>
</nav>
