<aSmart-navbar></aSmart-navbar>
<mat-drawer-container
id="dashboard_container"
strechHeight
class="dash-container"
gdev-color
[background]="'white'"
[hasBackdrop]="testChat.opened">


<!-- Left sidebar -->
  <mat-drawer
    #sideNav
    class="side-nav"
    mode="side"
    [opened]="!responsive.small"
    [ngStyle]="{'width': responsive.med ? '80px': '220px'}"
    position="start"
    gdev-color
    [background]="'dark'"
    [disableClose]="true"
    [autoFocus]="false"
  >

    <aSmart-sidenav></aSmart-sidenav>
    <mat-toolbar
    gdev-color
    class="test-chat-btn"
    [background]="'dark'"
    >
    <ng-container *ngIf="!responsive.med; else icon">
        <button mat-raised-button color="accent" (click)="chat_.toggleChatbox()"
        [disabled]="section != 'agente'">
            Probar chat
        </button>
    </ng-container>
      <ng-template #icon>
        <button mat-mini-fab color="accent" (click)="chat_.toggleChatbox()"
        [disabled]="section != 'agente'">
            <i class="fas fa-comment-dots"></i>
        </button>
      </ng-template>

    </mat-toolbar>
  </mat-drawer>
  <!-- End Left Sidenav -->



  <!-- Test chat -->
  <mat-drawer #testChat [opened]="chat_.opened | async" class="test-chat" mode="over" position="end">
    <gdev-chat-container></gdev-chat-container>
  </mat-drawer>




  <!-- Dashboard -->
  <mat-drawer-content strechHeight id="dashboard_area"  gdev-color [background]="'bg1'">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



<!-- Mobile navbar -->
<nav
  *ngIf="responsive.small"
  class="nav-footer"
  id="footer"
  gdev-color [background]="'acent'"
  mat-tab-nav-bar
>
  <button mat-button (click)="sideNav.toggle()">Menú</button>
  <a mat-tab-link
        *ngFor="let item of mobileNavbar"
        [routerLink]="['/dashboard/agente/',projectId, item.path]"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [active]="rla.isActive">

        <span> {{item.label}} </span>
    </a>
</nav>
