<mat-drawer-container class="dash-container" hasBackdrop="false">
  <mat-drawer
    #sideNav
    class="side-nav"
    mode="side"
    [opened]="!responsive.small()"
    position="start"
    gdev-color
    [background]="'dark'"
    
  >
    <aSmart-sidenav></aSmart-sidenav>
    <mat-toolbar 
    gdev-color
    [background]="'dark'"
    >
      <button mat-raised-button color="accent" (click)="testChat.toggle()">
        Probar chat
      </button>
    </mat-toolbar>
  </mat-drawer>

  <mat-drawer #testChat class="test-chat" mode="over" position="end">
    Test-chat
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<mat-toolbar
  *ngIf="responsive.small()"
  class="sidenav-footer"
  id="footer"
  color="accent"
>
  <button mat-button (click)="sideNav.toggle()">Menú</button>
  <mat-tab-group>
    <mat-tab label="Cuenta"></mat-tab>
  </mat-tab-group>
</mat-toolbar>
