<gdev-reacvtive-dialogbox [text]="suggests.mensaje" (onTextEvent)="onCatchTextMsg($event)"></gdev-reacvtive-dialogbox>
    
<div class="row">
    <div class="col s12">
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Sugerencias">
            <mat-chip *ngFor="let sugerencia of suggests.sugerencias" [selectable]="true"
            color="primary" [removable]="true" (removed)="remove(sugerencia)">
              {{sugerencia}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Sugerencias"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
    </div>
</div>