<div class="col s4 resp-label">Sugerencias</div>
<div class="col s8">
    <div class="row" *ngFor="let sugerencia of sugerencias; index as i">
        <div class="col s10">
            {{ sugerencia.text }} <br />
            <span style="font-size: x-small">{{ sugerencia.contexto }}</span>
        </div>
        <div class="col s2">
            <button mat-icon-button [mat-menu-trigger-for]="suggestMenu">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <mat-menu #suggestMenu="matMenu">
                <button mat-menu-item (click)="onEdit(sugerencia, i)">
                    Editar
                </button>
                <button mat-menu-item (click)="remove(i)">Eliminar</button>
            </mat-menu>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <mat-form-field>
                <mat-label>Texto</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="newSuggest.text"
                    name="text"
                    (keyup.Enter)="addText()"
                />
            </mat-form-field>
        </div>
        <div class="col s6">
            <aSmart-contexto-selector [contexto]="newSuggest.contexto" (sendContextSelected)="addContext($event)" ></aSmart-contexto-selector>
        </div>
    </div>
</div>
