<div class="row param-row" *ngIf="parte.entityType || parte.selected">

    <!-- Valor -->
    <div class="col s3 m4">
        {{parte.text}}
    </div>

    <!-- Tipo de dato -->
    <div class="col s3 m3" (click)="toSelectTipo()">
        <ng-container 
        *ngIf="!switchEntitySelector; else entitySelector" >
            
            <ng-container *ngIf="parte.entityType; else newEntity">
                {{parte.entityType}}
            </ng-container>
            
            <ng-template #newEntity>
                <aSmart-tipo-selector 
                (tipoSelected)="onTipoSelected($event)"
                ></aSmart-tipo-selector>    
            </ng-template>

        </ng-container>

        <ng-template #entitySelector>
            <aSmart-tipo-selector 
            (tipoSelected)="onTipoSelected($event)"
            [value]="parte.entityType"
            ></aSmart-tipo-selector>
        </ng-template>
        
    </div>

    <!-- Nombre param -->
    <div class="col s3 m4">
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="param-name" 
            id="param-name"
            [(ngModel)]="paramName"
            (keyup.enter)="addParameter($event); $event.stopInmediatePropagation()"
            (blur)="paramName ? addParameter($event) : null"
            >
        </mat-form-field>
    </div>

    <!-- Eliminar parametro -->
    <div class="col s3 m1 delParam">
        <button mat-icon-button (click)="onDelete.emit()">
            <i class="fas fa-times red-text"></i>
        </button>
    </div>

    
</div>