.add-intent {
    background: transparent;
    border-radius: 5px;
    box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.2), inset 0px 1px 1px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    translate: all .3s;
}

::ng-deep.entradas-list {
    position: relative;
    mat-card {
        margin: 1em 0;
        z-index: 2;
        cursor: pointer;
    }
}

::ng-deep.entradas-list:before {
    content: "";
    border-left: solid 1px #202020;
    left: 50%;
    position: absolute;
    height: 100%;
    display: block;
    z-index: 1;
}