<!-- Agregado de entrada nueva -->
<div class="row">
    <div class="add-intent" [ngClass]="{'activate': switchAddIntent}" *ngIf="!switchAddIntent; else addIntent" (click)="onAddIntent()">
        <i class="fas fa-plus"></i>
    </div>
    <ng-template #addIntent>
        <mat-card>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Nombre de entrada nueva</mat-label>
                    <input matInput 
                    type="text" 
                    name="intentName" 
                    id="intentName"
                    #intentNuevo
                    (keyup.enter)="onSetIntent(contexto)"
                    (blur)="newIntent == '' ? switchAddIntent = false : onSetIntent(contexto)"
                    [(ngModel)]="newIntent"
                    >
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <!-- <div class="intent"></div> -->
    </ng-template>
</div>


<!-- Lista de entradas -->
<aSmart-entradas-list [contexto]="contexto"></aSmart-entradas-list>
            
        