<!-- Parámetro -->
<div class="row">
    <div class="col s4 resp-label">
        Parámetro
    </div>
    <div class="col s8">
        <mat-select placeholder="parámetro" [(ngModel)]="paramSelected" name="param">
            <mat-option *ngFor="let param of resService.paramList" [value]="param.name">
                {{param.displayName}}
            </mat-option>
        </mat-select>
    </div>
</div>


<!-- Grupo de datos -->
<div class="row">
    <div class="col s4 resp-label">
        Grupo
    </div>
    <div class="col s8">
        <mat-select placeholder="grupo de datos" [(ngModel)]="dataGroupSelected" name="param">
            <mat-option *ngFor="let group of dataGroups" [value]="group.name">
                {{group.displayName}}
            </mat-option>
        </mat-select>
    </div>
</div>


