<mat-form-field>
    <mat-label>Nombre</mat-label>
    <input
    matInput
    type="text"
    name="name"
    [(ngModel)]="tarjeta.name"
    >
</mat-form-field>
<mat-select placeholder="Tipo de contenido" [(ngModel)]="tarjeta.tipoContenido" name="contenido">
    <mat-option *ngFor="let contenido of tiposContenido" [value]="contenido.value">
        {{contenido.viewValue}}
    </mat-option>
</mat-select>
<div [ngSwitch]="tarjeta.contenido">
    <div *ngSwitchCase="'coleccion'">
        <mat-select placeholder="Coleccion" [(ngModel)]="tarjeta.contenido" name="col">
        </mat-select>
    </div>
    <div *ngSwitchCase="'producto'">
    </div>
    <div *ngSwitchCase="'servicio'">
    </div>
    <div *ngSwitchCase="'estatico'">
        <aSmart-estatica-tarjeta></aSmart-estatica-tarjeta>
    </div>
    <div *ngSwitchDefault>
        <aSmart-estatica-tarjeta></aSmart-estatica-tarjeta>
    </div>


    <mat-card-actions>
        <b>Botones</b> (Opcionales)
        <div class="botonModel" *ngFor="let btn of botones; index as i">
            <button mat-raised-button
            color="primary">
                {{btn.text}}
            </button>
            <button mat-icon-button (click)="delBoton(i)">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="botonForm">
            <mat-form-field>
                <input matInput type="text" 
                name="buttonText" id="buttonText"
                [(ngModel)]="nuevoBoton.text"
                placeholder="Texto"
                >
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" 
                name="buttonLink" id="buttonLink"
                [(ngModel)]="nuevoBoton.link"
                placeholder="Link"
                >
            </mat-form-field>
            <button mat-icon-button (click)="addBoton()">
                <i class="fas fa-check"></i>
            </button>
        </div>
    </mat-card-actions>

    <mat-card-actions style="display: flex; justify-content: space-around;">
        <button 
        (click)="dialog.close()"
        mat-raised-button>
            Cerrar
        </button>
        
        <button 
        (click)="save()"
        mat-raised-button>
            Guardar
        </button>
    </mat-card-actions>
</div>
