<div class="container">
    <div class="row">
        
        <div class="col s1">
            <button mat-icon-button
            (click)="close.emit()">
                <i class="fas fa-times fa-lg"></i>
            </button>
        </div>
        
        <div class="col s9">
            <h5><b>{{coleccion.name}}</b></h5>
            {{coleccion.tipo}}
        </div>
        
        <div class="col s2">
            <button mat-raised-button
            color="warn"
            (click)="onDelete()">
                Eliminar
            </button>
        </div>
    </div>

    <!-- START Interfaz de colección -->
    <div class="row" id="data-table">
        
        <div class="col s12">
            <div [ngSwitch]="coleccion.tipo">
                
                <div *ngSwitchCase="'busqueda'">
                    <aSmart-busqueda-coleccion
                    [coleccion]="coleccion"
                    ></aSmart-busqueda-coleccion>
                </div>


                <div *ngSwitchCase="'guardado'">
                    <b>Datos</b>
                </div>

                <div *ngSwitchDefault></div>
            </div>
        </div>

    </div>
    <!-- END Interfaz de tabla -->

    


</div>
