<!-- START Interfaz búsqueda -->

    <b>Datos</b>
    <div class="row">
        
        <!-- Seleccionar todos -->
        <div class="col s6">
            <mat-checkbox 
            [checked]="allSelected"
            (change)="onSelectAll($event)" 
            color="primary"
            >Seleccionar todos
            </mat-checkbox>
        </div>
        
        <!-- Eliminar grupo -->
        <div class="col s6" 
        *ngIf="datosList.selectedOptions.selected.length > 0"
        style="float:right;display: flex;">
            <button 
            (click)="onDeleteDatos()"
            mat-raised-button color="warn"
            >Eliminar seleccionados</button>
        </div>
    </div>
    
    <mat-divider></mat-divider>
    
    <!-- Datos agregados de búsqueda -->
    <mat-selection-list #datosList 
    (selectionChange)="onSelectedChange()">

    <!-- Item de lista de datos agregados -->
        <mat-list-option 
        [checkboxPosition]="'before'" 
        [value]="dato" 
        color="primary"
        *ngFor="let dato of coleccion.queryData">
            
            <div class="row align-cols">
                <div class="col s4"> {{dato.identificador}} </div>
                <div class="col s7"> {{dato.valor}} </div>
                
                <div class="col s1">
                    <button mat-icon-button [mat-menu-trigger-for]="datoMenu">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <mat-menu #datoMenu="matMenu">
                        <button mat-menu-item>Editar</button>
                        <button mat-menu-item
                        (click)="deleteOneDato(dato)"
                        >Eliminar</button>
                    </mat-menu>
                </div>

            </div>
        </mat-list-option>
    </mat-selection-list>
    <!-- ENDS Item de dato de búsqueda -->

    
    <!-- START Agregado de nuevo dato de búsqueda -->
    <div class="row" style="width: 100%;">
        
        <div class="col s12 m4">
            <mat-form-field>
                <mat-label>Identificador</mat-label>
                <input matInput
                preventSpaces
                normalize
                [(ngModel)]="newColeccionDato.identificador"
                type="text" name="ident" id="ident">
            </mat-form-field>
        </div>
        
        <div class="col s11 m7">
            <mat-form-field style="width: 100%;">
                <mat-label>Valor</mat-label>
                <input matInput
                [(ngModel)]="newColeccionDato.valor"
                    type="text" name="valor" id="valor">
            </mat-form-field>
        </div>
        
        <div class="col s1">
            <button mat-icon-button 
            [disabled]="!newColeccionDato.identificador && !newColeccionDato.valor" 
            (click)="addDato()">
                <i class="fas fa-check"></i>
            </button>
        </div>

    </div>

    <!-- ENDS Agregado de datos -->
<!-- ENDS Interfaz de Búsqueda -->