<!-- Respuesta -->
<div class="row">
    <div class="col s6 resp-label">
        Estilo de respuesta
    </div>
    <div class="col s6">
        <mat-select 
        placeholder="Estilo" 
        [(ngModel)]="outputRes.estiloRespuesta"
        (selectionChange)="onEstiloRespuesta($event)"
        name="estiloRespuesta">
            <mat-option *ngFor="let estilo of resService.estiloResps" [value]="estilo.name">
                {{estilo.display}}
            </mat-option>
        </mat-select>
    </div>
</div>

<div class="row">
    <div class="col s4 resp-label">
        Respuesta
    </div>
    <div class="col s8">
        <div [ngSwitch]="outputRes.estiloRespuesta">
            <div *ngSwitchCase="'texto'">
                <gdev-reacvtive-dialogbox [text]="outputRes.respuesta" (onTextEvent)="catchText($event)" ></gdev-reacvtive-dialogbox>
            </div>
            <div *ngSwitchCase="'sugerencias'">
                <aSmart-sugerencias [mensaje]="outputRes.respuesta" (onRespChanges)="catchSugerencias($event)"></aSmart-sugerencias>
            </div>
        </div>
    </div>
</div>