<!-- Respuesta -->
<div class="row">
    <div class="col s6 resp-label">
        Estilo de respuesta
    </div>
    <div class="col s6">
        <mat-select 
        placeholder="Estilo" 
        [(ngModel)]="respPredef.estiloRespuesta" 
        name="estiloRespuesta">
            <mat-option *ngFor="let estilo of resService.estiloResps" [value]="estilo.name">
                {{estilo.display}}
            </mat-option>
        </mat-select>
    </div>
</div>

<div class="row">
    <div class="col s4 resp-label">
        Respuesta
    </div>
    <div class="col s8">
        <div [ngSwitch]="respPredef.estiloRespuesta">
            <div *ngSwitchCase="'texto'">
                <mat-form-field>
                    <textarea matInput class="resp-input" name="mensaje"  id="mensaje" 
                    cols="30" rows="5" [(ngModel)]="respPredef.mensaje"
                    ></textarea>
                </mat-form-field>
            </div>
            <div *ngSwitchCase="'sugerencias'">
                <aSmart-sugerencias (onRespChanges)="catchSugerencias($event)"></aSmart-sugerencias>
            </div>
            <div *ngSwitchCase="'card'">
                <aSmart-card></aSmart-card>
            </div>
        </div>
    </div>
</div>