<mat-form-field>
    <input 
    matInput
    #partEntityInput
    type="text" 
    [name]="value" 
    [id]="value"
    [formControl]="tipoControl"
    [matAutocomplete]="auto"
    [value]="value"
    (blur)="onTipoSelected($event)"
    >
    <mat-autocomplete #auto="matAutocomplete" 
    placeholder="Selecciona uno"
    (optionSelected)="onTipoSelected($event)">
        <mat-option *ngFor="let tipo of tiposFiltered | async" [value]="tipo">
            @{{tipo}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>