#entrada-header {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

#displayName {
    font-size: 2.28rem;
}

.goback-btn {
    button {
        padding: 0 5px;
        min-width: 40px;
    }
}

@media screen and (max-width: 450px) {
    #entrada-header{
        display: block;
        .row {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }
}
