<div class="row param-row align-cols" *ngIf="parte.alias && parte.alias != '' ">

    <!-- Valor -->
    <div class="col s3 m3">
        {{parte.text}}
    </div>

    <!-- Tipo de dato -->
    <div class="col s3 m4" (click)="toSelectTipo()">
        <aSmart-tipo-selector
        (tipoSelected)="onTipoSelected($event)"
        [value]="parte.entityType"
        [id]="parte.alias"
        ></aSmart-tipo-selector>
    </div>

    <!-- Nombre param -->
    <div class="col s3 m3">

        <mat-form-field>
            <input
            matInput
            type="text"
            [(ngModel)]="paramName"
            name="paramName"
            (keypress)="reformatText($event)"
            >
        </mat-form-field>

    </div>

    <!-- Eliminar parametro -->
    <div class="col s3 m2 paramOptions">
        <button mat-icon-button (click)="onDelete.emit()">
            <i class="fas fa-times red-text"></i>
        </button>
        <button mat-icon-button (click)="addParameter()">
            <i class="fas fa-check green-text"></i>
        </button>
    </div>


</div>
