<div class="row param-row align-cols" *ngIf="parte.alias && parte.alias != '' ">

    <!-- Valor -->
    <div class="col s3 m3">
        {{parte.text}}
    </div>

    <!-- Tipo de dato -->
    <div class="col s3 m4" (click)="toSelectTipo()">
        <aSmart-tipo-selector 
        (tipoSelected)="onTipoSelected($event)"
        [value]="parte.entityType"
        [id]="parte.alias"
        ></aSmart-tipo-selector>
    </div>

    <!-- Nombre param -->
    <div class="col s3 m3">
        
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            [name]="paramName" 
            [id]="paramName"
            [(ngModel)]="paramName"
            (keyup.enter)="addParameter($event);"
            (blur)="paramName ? addParameter($event) : null"
            >
        </mat-form-field>
        
    </div>

    <!-- Eliminar parametro -->
    <div class="col s3 m2 delParam">
        <button mat-icon-button (click)="onDelete.emit()">
            <i class="fas fa-times red-text"></i>
        </button>
    </div>

    
</div>