<div class="respuesta-card">

    <!-- Icono de color para identificar tipo de respuesta -->
    <div class="col 2 res-type-icon" [ngClass]="{'type-icon-closed': !switchEditResp}">
        <button mat-fab [ngStyle]="{'background': selectedRes.color}" >
            <i class="fas" [ngClass]="selectedRes.icono"></i>
        </button>
    </div>


    <div class="col s10">
        <mat-card [ngClass]="{'card-closed': !switchEditResp}" >
    
            <!-- TARJETA CERRADA -->
            <ng-container *ngIf="!switchEditResp; else editResp">
                
                    <!-- SIGUIENTE MENSAJE -->
                    <div class="row align-cols">
                        <div class="col s10 res-ref" (click)="switchEditResp = true">
                            
                            <div [ngSwitch]="respuesta.tipo">
                            

                                <ng-container *ngIf="respuesta.nextIntent; else noNext">
                                
                                    <div *ngSwitchCase="'condicional'">
                                        <b>{{respuesta.nextIntent}}</b><br>
                                        Si {{respuesta.outputMessage['parametro']}}
                                        es {{respuesta.outputMessage['condicion']}}
                                        {{respuesta.outputMessage['valor']}}
                                    </div>
                                
                                    <div *ngSwitchCase="'predefinida'">
                                        <b>{{respuesta.nextIntent}}</b>
                                    </div>
                                
                                    <div *ngSwitchDefault>
                                    </div>
                                </ng-container>
                            
                                <!-- SIGUIENTE MENSAJE NO ASIGNADO -->
                                <ng-template #noNext>
                                    <span class="grey-text">Asigna el siguiente mensaje</span>                                        
                                </ng-template>
                            </div>
                            
                        </div>
                        
                        <!-- MENÚ DE LA TARJETA -->
                        <div class="col s2">
                            <button mat-icon-button [mat-menu-trigger-for]="card">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <mat-menu #card="matMenu">
                                <button mat-menu-item (click)="repuestas_.delRespuesta(respuesta.id)">Eliminar</button>
                            </mat-menu>
                        </div>
                    </div>
    
            </ng-container>
            
            
            <!-- TARJETA ABIERTA -->
            <ng-template #editResp>
                
            
            
                <div class="row">
                    <div class="col s4 resp-label">
                        Tipo
                    </div>
                    <div class="col s8">
                        <mat-select 
                        [(ngModel)]="respuesta.tipo"
                        placeholder="Tipo de respuesta" name="tipoRes" 
                        (selectionChange)="onTipoSelected($event)">
                            <mat-option *ngFor="let tipoRes of tiposRes" [value]="tipoRes.name">
                                {{tipoRes.display}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
    
                
    
    
    
            <mat-card-content>
    
                <div [ngSwitch]="respuesta.tipo">
                    
                    <div *ngSwitchCase="'condicional'">
                        <aSmart-condicional-form [condicional]="respuesta.outputMessage" (onRespChanges)="catchOutputMessage($event)"></aSmart-condicional-form>
                    </div>
                    <div *ngSwitchCase="'grupo_datos'">
                        <aSmart-grupo-datos [RegistroDatosForm]="respuesta.outputMessage" (edited)="catchOutputMessage($event)"></aSmart-grupo-datos>
                    </div>
                    <div *ngSwitchCase="'buscar'">
                        <aSmart-buscar-form [BuscarRes]="respuesta.outputMessage" (onRespChanges)="catchOutputMessage($event)"></aSmart-buscar-form>
                    </div>

                    <aSmart-predefinida [outputRes]="respuesta.outputMessage" (onRespChanges)="catchOutputMessage($event)"></aSmart-predefinida>
                    
                </div>
    
                
    
    
                
    
    
    
    
    
    
    
                <!-- Action -->
                <div class="row">
                    <div class="col s4 resp-label">
                        Acción
                    </div>
                    <div class="col s8 right">
                        <mat-slide-toggle [(ngModel)]="activateAccion">Realizar accion</mat-slide-toggle>
                    </div>
                </div>
                <ng-container *ngIf="activateAccion">
                    <div class="row">
                        <div class="col s4">
                            <mat-select 
                            placeholder="Acción" 
                            [(ngModel)]="respuesta.accion" 
                            name="contexto">
                                <mat-option *ngFor="let action of repuestas_.acciones" [value]="action">
                                    {{action.accion}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col s8">
                            <mat-form-field>
                                <input matInput placeholder="Ruta" class="resp-input">
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
    
    
    
    
    
    
                <!-- Select contexto -->
                <!-- <div class="row">
                    <div class="col s4 resp-label">
                        Contexto
                    </div>
                    <div class="col s8">
                        <mat-select 
                        *ngIf="repuestas_.contextList"
                        placeholder="Siguiente contexto" 
                        [(ngModel)]="respuesta.outputContext" 
                        name="contexto">
                            <mat-option *ngFor="let contexto of repuestas_.contextList" 
                            [value]="contexto.contextName">
                                {{contexto.contextName}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
     -->
    
    
    
    
    
                <!-- Select next mensaje -->
                <div class="row">
                    <div class="col s4 resp-label">
                        Siguiente
                    </div>
                    <div class="col s8">
                        <mat-select 
                        placeholder="Siguiente mensaje" 
                        [(ngModel)]="respuesta.nextIntent" 
                        name="mensaje">
                            <mat-option *ngFor="let mensaje of repuestas_.nextMensaje" [value]="mensaje.name">
                                {{mensaje.displayName}}
                            </mat-option>
                            <mat-option value="*fin">
                                Terminar conversación
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
    
    
    
    
            </mat-card-content>
            <mat-card-actions class="res-actions">
                <button mat-raised-button (click)="switchEditResp = false">Cerrar</button>
                <button mat-raised-button color="accent" (click)="onSave()">Guardar</button>
            </mat-card-actions>
            </ng-template>
        </mat-card>
    </div>
</div>