<mat-accordion>
    <mat-expansion-panel
        *ngFor="let parent of Sidenav"
        gdev-color
        [background]="'dark'"
        [color]="'bg1'"
        [expanded]="onActive(parent.routeId)">
        <mat-expansion-panel-header 
            [routerLink]="[parent.route]">
            {{parent.name}}
        </mat-expansion-panel-header>
        <div class="collection">
            <a *ngFor="let child of parent.childs"
            [routerLink]="[child.route]" 
            routerLinkActive="active"
            class="collection-item"
            gdev-color
            [color]="'bg1'"
            [background]="'dark'"
            >{{child.name}}</a>
        </div>
    </mat-expansion-panel>
    
</mat-accordion>
