mat-list-item {
    cursor: pointer;
    transition: all .3s;
}

::ng-deep {
    .menu-section {
        span, .collection-item {
            color: #F3F8FF !important;

        }
    }
}


::ng-deep .mat-expansion-panel-body {
    padding: 0 5px 16px !important;
    .collection {
        border-left: none !important;
        border-right: none !important;
    }
}



