<div class="parameter-list" gdev-color [background]="'lightgrey'">
    
    <!-- Params table header -->
    <div class="row params-header">
        <div class="col s3 m4">Valor</div>
        <div class="col s3 m3">Tipo dato</div>
        <div class="col s3 m4">Parámetro</div>
        <div class="col s3 m1"></div>
    </div>

    
    <!-- Params table body -->
    <div class="part" 
    *ngFor="let parte of frase.parts; index as i" >
        
        <div class="part-parameter-form" *ngIf="parte" >
            <aSmart-part-parameter 
            [parte]="parte"
            (tipoSelected)="setTipoFrase($event, i)"
            (onDelete)="onDelPartParam(i)"
            ></aSmart-part-parameter>
        </div>
    </div>
</div>