<div class="row align-cols">
  <div class="col s10">
    <h5>Parámetros</h5>
  </div>
  <div class="col s2">
    <button mat-button (click)="toAddParam()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col s12" id="params-head">
    <div class="row">
      <div class="col s3">Nombre</div>
      <div class="col s3">Entidad</div>
      <div class="col s3">Valor</div>
      <div class="col s1">Req</div>
      <div class="col s1">Lista</div>
      <div class="col s1"></div>
    </div>
    </div>
    <div class="col s12" *ngIf="parametros" id="params-body">
        <aSmart-param-row *ngFor="let param of parametros" [param]="param"></aSmart-param-row>
    </div>
</div>
