<!-- Parámetro -->
<div class="row">
    <div class="col s4 resp-label">
        Si
    </div>
    <div class="col s8">
        <mat-select placeholder="parámetro" [(ngModel)]="paramSelected" name="param">
            <mat-option *ngFor="let param of resService.paramList" [value]="param.name">
                {{param.displayName}}
            </mat-option>
        </mat-select>
    </div>
</div>

<!-- Condición -->
<div class="row">
    <div class="col s4 resp-label">
        es
    </div>
    <div class="col s8">
        <mat-select placeholder="condición" [(ngModel)]="condicionSelected" name="condition">
            <mat-option *ngFor="let condition of condicionesList" [value]="condition.operator">
                {{condition.displayText}}
            </mat-option>
        </mat-select>
    </div>
</div>


<!-- Valor -->
<div class="row">
    <div class="col s4 resp-label">
        Valor
    </div>
    <div class="col s8">
        <mat-form-field>
            <input 
            class="resp-input"
            matInput
            type="text" 
            name="conditionValue" 
            id="conditionValue"
            [(ngModel)]="conditionValue"
            >
        </mat-form-field>
    </div>
</div>


<aSmart-predefinida (onRespChanges)="catchOutputMessage($event)"></aSmart-predefinida>
