<mat-card-title>
    <gdev-reactive-textline
    [label]="'Titulo'"
    [text]="contenido.titulo"
    (onTextEvent)="contenido.titulo = $event"
    ></gdev-reactive-textline>
</mat-card-title>

<gdev-image-uploader
[folder]="user.uid+'/tarjetas/'"
displayAction="Agregar Imagen"
[srcPreview]="contenido.imagenURL"
(result)="catchImgURL($event)"
[multiple]="false"
></gdev-image-uploader>

<mat-card-content>
    <gdev-reacvtive-dialogbox
    [label]="'body'"
    [text]="contenido.body"
    (onTextEvent)="contenido.body = $event"
    ></gdev-reacvtive-dialogbox>
</mat-card-content>

