<div class="row align-cols">
  <div class="col s10">
    <h5>Frases de entrenamiento</h5>
  </div>
  <div class="col s2">
    <button mat-button (click)="toAddPhrase()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col s12" *ngIf="($mensaje.current$ | async) as mensaje">
    <!-- READ Muestra las frases -->
    <ul class="phrases-list" >

      <!-- CREATE Agregar nueva frase -->
      <li *ngIf="addPhraseInput" class="phrase-item">
        <mat-form-field appearance="outline" class="newFrase">
          <input
            placeholder="Nueva frase de entrenamiento"
            matInput
            #newPhraseInput
            type="text"
            name="newPhraseInput"
            id="newPhraseInput"
            (blur)="addPhraseInput = false"
            [(ngModel)]="newPhrase"
            (keyup.enter)="
              newPhrase != '' ? onSetPhrase() : (addPhraseInput = false)
            "
          />
        </mat-form-field>
      </li>


      <!-- <ng-container *ngIf="Frases.length > 0 || addPhraseInput; else noPhrases"> -->
      <mat-accordion #accordeon="matAccordion" [multi]="false">
        <li
          *ngFor="let frase of currentPage; index as i"
          class="phrase-item"
          (mouseup)="onSelect(frase, i)"
        >
          <mat-expansion-panel
          #frasePanel="matExpansionPanel"
            hideToggle
            [disabled]="disableFrase(frase)"
            [expanded]="validateFraseExpanded(i)"
            (opened)="openedPanel(i)"
          >
            <mat-expansion-panel-header>
              <aSmart-frase-item
                [frase]="frase"
                [index]="i"
                (onDeleted)="onRemoveFrase(i)"
              ></aSmart-frase-item>
            </mat-expansion-panel-header>

            <aSmart-frase-parameters
              [fraseIndex]="i"
              [frase]="frase"
            ></aSmart-frase-parameters>
          </mat-expansion-panel>
        </li>
      </mat-accordion>
      <!-- </ng-container> -->
      <!-- <ng-template #noPhrases> -->
      <li class="phrase-item no-frase" (click)="toAddPhrase()">
        Agrega una frase
      </li>
      <!-- </ng-template> -->
    </ul>

    <mat-paginator
      [length]="mensaje.trainingPhrases.length"
      [pageSize]="10"
      [showFirstLastButtons]="true"
      [pageIndex]="pageIndex"
      (page)="pageEvent($event)"
    ></mat-paginator>
  </div>
</div>
