<div class="row align-cols">
    <div class="col s10">
        <h5>Frases de entrenamiento</h5>
    </div>
    <div class="col s2">
        <button mat-button (click)="toAddPhrase()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="phrases-list">


            <!-- READ Muestra las frases -->
            <li *ngFor="let frase of frases; trackBy:trackByFraseName" 
            class="phrase-item"
            (mouseup)="onSelect(frase)"
            >
                <mat-expansion-panel hideToggle 
                [disabled]="disableFrase(frase)"
                [expanded]="frase.name == fraseExpanded">
                    <mat-expansion-panel-header>
                        <aSmart-frase-item 
                        [frase]="frase" 
                        [phraseName]="frase.name" 
                        (onDeleted)="getFrasesEntrenamiento()"
                        >
                        </aSmart-frase-item>
                    </mat-expansion-panel-header>
                
                    <aSmart-frase-parameters [frase]="frase"></aSmart-frase-parameters>
                </mat-expansion-panel>
            </li>

            <!-- CREATE Agregar nueva frase -->
            <li *ngIf="addPhraseInput">
                <div class="row">
                    <div class="col s12">
                        <mat-form-field class="newFrase">
                            <input 
                            matInput
                            #newPhraseInput
                            type="text" 
                            name="newPhraseInput" 
                            id="newPhraseInput"
                            (blur)="addPhraseInput = false"
                            [(ngModel)]="newPhrase"
                            (keyup.enter)="newPhrase != '' ? onSetPhrase() : addPhraseInput = false"
                            >
                        </mat-form-field>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
