<div class="row align-cols">
    <div class="col s10">
        <h5>Frases de entrenamiento</h5>
    </div>
    <div class="col s2">
        <button mat-button (click)="toAddPhrase()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="phrases-list" *ngIf="mensaje.current">

            <!-- READ Muestra las frases -->

            <!-- CREATE Agregar nueva frase -->
            <li *ngIf="addPhraseInput" class="phrase-item">
                <mat-form-field appearance="outline"  class="newFrase">
                    <input
                    placeholder="Nueva frase de entrenamiento"
                    matInput
                    #newPhraseInput
                    type="text"
                    name="newPhraseInput"
                    id="newPhraseInput"
                    (blur)="addPhraseInput = false"
                    [(ngModel)]="newPhrase"
                    (keyup.enter)="newPhrase != '' ? onSetPhrase() : addPhraseInput = false"
                    >
                </mat-form-field>
            </li>
            <!-- <ng-container *ngIf="Frases.length > 0 || addPhraseInput; else noPhrases"> -->
                <mat-accordion #frasesList="matAccordion" [multi]="true">

                    <li *ngFor="let frase of currentPage | sortBy:'desc'; index as i"
                    class="phrase-item"
                    (mouseup)="onSelect(frase, i)"
                    >
                        <mat-expansion-panel hideToggle
                        [disabled]="disableFrase(frase)"
                        [expanded]="fraseExpanded && i == fraseExpanded">
                            <mat-expansion-panel-header>
                                <aSmart-frase-item
                                [frase]="frase"
                                [index]="i"
                                >
                                </aSmart-frase-item>
                            </mat-expansion-panel-header>

                            <aSmart-frase-parameters [fraseIndex]="i" [frase]="frase"></aSmart-frase-parameters>
                        </mat-expansion-panel>
                    </li>

                </mat-accordion>
            <!-- </ng-container> -->
            <!-- <ng-template #noPhrases> -->
                <li class="phrase-item no-frase" (click)="toAddPhrase()">
                    Agrega una frase
                </li>
            <!-- </ng-template> -->




        </ul>
        <mat-paginator
        [length]="Frases.length"
        [pageSize]="10"
        (page)="pageEvent($event)"

        ></mat-paginator>


    </div>
</div>
