<aSmart-mensajes-diagram></aSmart-mensajes-diagram>
<mat-drawer-container id="flow-area" [hasBackdrop]="false">
  <!-- # CONTEXT AREA -->
  <mat-drawer
    id="context-list"
    class="contextos-list-container"
    [opened]="true"
    mode="side"
    gdev-color
    [background]="'cornflowerblue'"
  >
    <aSmart-contextos></aSmart-contextos>
  </mat-drawer>

  <!-- # INTENTS AREA -->
  <mat-drawer-content>
    <!-- MENSAJES SIN CONTEXTO -->
    <div class="mensajes-container">
      <aSmart-mensajes-list></aSmart-mensajes-list>
    </div>

    <!-- MENSAJES POR CONTEXTO -->
    <div *ngFor="
    let contexto of contextos_.list$ | async
    | sortBy: 'asc':'index'"
    class="mensajes-container"
    >
      <aSmart-mensajes-by-contexto
        [contexto]="contexto"
      ></aSmart-mensajes-by-contexto>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
