<aSmart-mensajes-diagram></aSmart-mensajes-diagram>
<mat-drawer-container
[hasBackdrop]="false"
>
    <mat-drawer class="contextos-list-container" 
    autosize 
    [opened]="true"
    mode="side"
    gdev-color [background]="'bg3'"
    >
        <aSmart-contextos></aSmart-contextos>
        
    </mat-drawer>
    
    <mat-drawer-content>
        <div *ngFor="let contexto of agente_.contextosList" class="mensajes-container">
            <aSmart-mensajes-by-contexto [contexto]="contexto"></aSmart-mensajes-by-contexto>
        </div>
    </mat-drawer-content>
</mat-drawer-container>