
/* You can add global styles to this file, and also import other style files */
@import "./app/Gdev-Tools/styles/collection.css";
@import "./app/Gdev-Tools/styles/colors.css";
@import "./app/Gdev-Tools/styles/normalize.css";
@import "./app/Gdev-Tools/styles/responsive.css";
@import "./app/Gdev-Tools/styles/shortcuts";
@import "./app/Gdev-Tools/styles/slider.css";
@import "./app/Gdev-Tools/styles/spiner.css";
@import "./app/Gdev-Tools/styles/text.css";
@import "./app/Gdev-Tools/styles/waves-fx.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html, body { 
    height: 100%; 
    background: #EFF1FE;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div::-webkit-scrollbar {
    display: none;
}


.align-cols {
    display: flex;
    align-items: center;
}

button {
    margin: .25em !important;
}

mat-card {
    margin-bottom: 1em;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.3rem;
}

mat-form-field {
    width: 100%;
}