
/* You can add global styles to this file, and also import other style files */
@import "assets/css/collection.css";
@import "assets/css/colors.css";
@import "assets/css/normalize.css";
@import "assets/css/responsive.css";
@import "assets/css/shortcuts";
@import "assets/css/slider.css";
@import "assets/css/spiner.css";
@import "assets/css/text.css";
@import "assets/css/waves-fx.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div::-webkit-scrollbar {
    display: none;
}


.align-cols {
    display: flex;
    align-items: center;
}