
/* You can add global styles to this file, and also import other style files */
@import "./app/Gdev-Tools/styles/collection.css";
@import "./app/Gdev-Tools/styles/colors.css";
@import "./app/Gdev-Tools/styles/normalize.css";
@import "./app/Gdev-Tools/styles/responsive.css";
@import "./app/Gdev-Tools/styles/shortcuts";
@import "./app/Gdev-Tools/styles/slider.css";
@import "./app/Gdev-Tools/styles/spiner.css";
@import "./app/Gdev-Tools/styles/text.css";
@import "./app/Gdev-Tools/styles/waves-fx.css";

html, body { 
    height: 100%; 
    background: #EFF1FE;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div::-webkit-scrollbar {
    display: none;
}


.align-cols {
    display: flex;
    align-items: center;
}

button {
    margin: .25em !important;
}

mat-card {
    margin-bottom: 1em;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.3rem;
}