<div class="col 2 res-type-icon">
    <button mat-fab [ngStyle]="{'background': selectedRes.color}" >
        <i class="fas" [ngClass]="selectedRes.icono"></i>
    </button>
</div>
<div class="col s10">
    <mat-card>
        <div class="row">
            <div class="col s4">
                Tipo
            </div>
            <div class="col s8">
                <mat-select placeholder="Tipo de respuesta" name="tipoRes" 
                (selectionChange)="onTipoSelected($event)">
                    <mat-option *ngFor="let tipoRes of tiposRes" [value]="tipoRes">
                        {{tipoRes.name}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <mat-card-content>
            <div [ngSwitch]="selectedRes.name">
                <div *ngSwitchCase="'fija'">
                    <aSmart-fija-res-form></aSmart-fija-res-form>
                </div>
                <div *ngSwitchCase="'condicional'">
                    <aSmart-condicional-res-form></aSmart-condicional-res-form>
                </div>
                <div *ngSwitchDefault>
                    <aSmart-fija-res-form></aSmart-fija-res-form>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="res-actions">
            <button mat-raised-button>Cerrar</button>
            <button mat-raised-button color="accent">Guardar</button>
        </mat-card-actions>
    </mat-card>
</div>